body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding: 0 120px 0 120px;
}

.logo {
   font-size: 24px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    background-color: #1f2937;
    gap: 25px;
    justify-content: space-between;
    padding: 80px 120px 80px 120px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.content .text .secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.content button {
    background-color: #3882f6;
    border-radius: 8px;
    border-width: 1px;
    width: 90px;
    height: 30px;
    color: #f9faf8;
    font-weight: bold;
}

img {
    width: 350px;
    height: 200px;
}

footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 120px 30px 120px;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.items {
    width: 100px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.img1 {
    border: 4px solid rgb(10, 51, 68);
}

.img2 {
    border: 4px solid rgb(1, 7, 10);
}

.img3 {
    border: 4px solid rgb(177, 18, 39);
}

.img4 {
    border: 4px solid rgb(53, 5, 7);
}

.items img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.quote {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #e5e7eb;
    padding: 50px 120px 50px 120px;
    gap: 10px;
}

.quote .author {
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    background-color: #3882f6;
    border-radius: 4px;
    color: #e5e7eb;
    padding: 20px 40px 20px 40px;
    margin: 50px 120px 50px 120px;
}

.call-to-action button {
    background-color: #3882f6;
    border-radius: 8px;
    border-color: #e5e7eb;
    border-width: 1px;
    width: 90px;
    height: 30px;
    color: #f9faf8;
    font-weight: bold;
}